#cont1{
    width: 100vw;
    height: 100vh;
}

/*#cont1{
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}
#cont2{
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
}
#cont3{
   width: 50%;
   background-color: rgb(48, 54, 60);
   display: flex;
   flex-direction: column;
}
#cont4{
    width: 66.6%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#cont5{
    font-weight:bolder;
    text-transform: capitalize;
    color: white;
}
#spanner{
    color: rgb(88, 56, 195);
}
#cont6{
    width: 50%;
    height: 100%;
}
#image{
    width: 100%;
    height: 100%;
}






@media (min-width: 360px) and (max-width:650px){
    #cont2{
        height: 160px;
    }
    #cont4{
        padding-top: 32px;
    }
    #cont5{
        font-size: 10px;
    }
}
@media (min-width: 651px) and (max-width:976px){
    #cont2{
        height: 288px;
    }
    #cont4{
        padding-top: 48px;
    }
    #cont5{
        font-size: 1.25rem; /* 18px 
        line-height: 1.75rem; /* 28px 
    }
}
@media (min-width: 977px) and (max-width:1279px){
       #cont2{
        height: 384px;
    }
    #cont4{
        padding-top: 112px;
    }
    #cont5{
        font-size: 28px; /* 18px 
        line-height: 32px; /* 28px 
    }
}
@media (min-width: 1280px){
           #cont2{
        height: 400px;
    }
    #cont4{
        padding-top: 112px;
    }
    #cont5{
        font-size: 36px; /* 18px 
        line-height: 42px; /* 28px 
    }
}*/